.layout-auth {
  display: grid;
  padding: 0.5em;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: auto;

  video {
    cursor: pointer;
    position: relative;
    width: 250px;
    height: auto;
    margin: auto;
    text-align: center;
  }

  .recent-buyers {
    margin-top: 1em;
    width: 100%;

    p {
      margin-bottom: 0.5em;
    }

    .handle-cards {
      margin: 0.5em auto;
      p {
        margin: 2px;
        margin-left: 15px;
        text-align: start;
      }
    }
  }

  button {
    margin: 1em auto;
    width: 100%;
  }

  @media (min-width: 992px) {
    video {
      width: 350px;
      margin: 1.5em 0;
    }
  }

  h1 {
    font-size: 28px;
    letter-spacing: -2.5px;
    line-height: 33px;
  }
}
