.layout-confirmation {

    h1 {
        font-size: 28px;
        letter-spacing: -2.5px;
        line-height: 33px;
        margin-bottom: 1em;
      }
    

    .btn-twitter-confirmation {
        width: 12em;
        height: 1.5em;
        display: grid;
        align-content: center;
        color:black;
        background-color: #ffff;
    }
}