@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import './variables.scss';

:root {
  font-size: 15px;
}

html,
body {
  padding: 0;
  margin: 0;
  color: $text-color;
  font-family: Roboto;
background-color: $background-color;
  font-style: normal;
}

h1 {
  font-family: 'Termina', sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

button,
a {
  border-radius: 5px;
  font-family: 'Roboto';
  border: none;
  padding: 15px;
  color: #0f1112;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
}

button:disabled {
  opacity: 0.5;
}

.btn-green {
  background-color: $main-green;
  color: #97FFE0;
}

.btn-gray {
  color: #ffff;
}


.btn-gray, .btn-green, .btn-twitter {
  width: 100%;
  display: grid;
  align-items: center;
  height: 3em;
  font-size: 18px;
}

.btn-gray, .btn-green {
  display: inline;

  span {
    margin: 5px;
  }

}

.layout-center {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.btn-twitter {
  background-color: $twitter-color;
  color: #ffff;
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  justify-content: center;

  img {
    width: 25px;
    margin-right: 0.5em;
    justify-self: end;
  }
}

hr {
  margin: 1em 0;
}

.error-message {
  position: relative;
  min-width: 18em;
  max-width: 20em;
  margin: 1.5em 0;
  color: red;
}