@import './variables.scss';

.layout-home {
  padding: 1em;
  height: 85vh;

  .main-home {
    display: grid;
    align-content: space-between;
    grid-auto-flow: row;
    justify-content: center;
    text-align: start;
    margin: auto;
    margin-bottom: 5em;
    height: 100%;

    @media (min-width: 992px) {
      width: 90%;
      margin-top: 2em;
      grid-auto-flow: column;
      grid-template-columns: 50vh;
      grid-template-rows: 20% 1fr;
      justify-content: space-between;

      .nft-preview {
        display: block;
        video {
          cursor: pointer;
          margin-top: 2em;
          position: relative;
          right: 30px;
          width: 440px;
          height: 600px;
        }
      }
    }
  }

  .nft-preview {
    display: none;
  }

  h1 {
    font-size: 28px;
    letter-spacing: -2.5px;
    line-height: 33px;
  }

  //ticket price number
  h1:nth-child(2) {
    font-weight: 700;
    font-size: 35px;
    margin: 0.5em 0;
  }

  .counter-input {
    button {
      height: 100%;
      background-color: black;
      color: #ffff;
      width: 50px;
      outline: none;
      border-radius: 0;
    }

    input {
      position: relative;
      top: -1px;
      font-size: 15px;
      background-color: #ffff;
      border: none;
      height: 43px;
      width: 50px;
      text-align: center;
      border-radius: 0;
    }
    input:-webkit-autofill {
      background-color: #ffff;
    }
  }

  .tickets-grid {
    display: grid;
    @media (min-width: 992px) {
      grid-template-columns: 40% 70%;
    }
  }

  //ticket price text
  p:nth-child(1) {
    font-size: 18px;
    line-height: 1px;
  }

  p:nth-child(2) {
    font-size: 18px;
    line-height: 1px;
    margin-top: 1.25em;

    span {
      font-weight: bold;
    }

    @media (min-width: 992px) {
      margin-top: 1.5em;
    }
  }

  //last paragraph
  p:nth-child(6) {
    font-size: 14px;
  }
}

.recent-buyers {
  margin: 3em 0;
  width: 19em;

  p:first-child {
    font-size: 17px;
    margin: 1.5em 0;
  }

  span {
    margin-right: 5px;
  }
}

.recent-buyers-scroll::-webkit-scrollbar {
  display: none;
}

.recent-buyers-scroll {
  overflow-y: scroll;
  min-width: auto;
  height: 200px;
  margin-bottom: 1em;
  cursor: all-scroll;

  .handle-cards {
    display: grid;
    align-content: center;
    width: 250px;
    margin: 0.5em 0;
    height: 56px;
    background: #000000;
    border-radius: 4px;
    padding: 5px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 15% 1fr;
    align-content: center;
    justify-content: center;
    pointer-events: none;

    img {
      width: 36px;
      height: 36px;
      border-radius: 100px;
      margin: 5px;
    }

    p {
      margin: 15px;
    }

    p:first-of-type {
      font-size: 14px;
      font-family: 'Termina';
      font-weight: 700;
      letter-spacing: -0.5px;
    }

    p:nth-of-type(2) {
      font-size: 10px;
      font-family: 'Roboto';
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
    }
  }
}
